:root {
    --firstsecfooterform-background: #101C26;
    --ulatextfirstsec-color: #FFFFFF;
    --h1pfirstsection-color: #F3F4F6;
    --buttonfirstsecform-background: #F0E714;
    --h2h3apbackground-color: #24272E;
    --text-color: #555C68;
    --titlep-color: #101C26;
    --names-color: #000;
    --h2lastsec-color: #010101;
    --formp-color: #D3D3D3;
    --footerp-color: #F5F5F5;
    --footera-color: #B3B3B3;
}

/* font-family: "Roboto", sans-serif;
font-family: "Manrope", sans-serif;
font-family: "Inter", sans-serif; */